@import "tailwindcss";

@theme {

  /* Colors */
  --color-default: black;
  --color-primary1: #200b0b;
  --color-primary2: #490000;

  --color-title: #0f0606;
  --color-sub-title: #1a1a1a;
  --color-description: #72716e;

  --color-black: #000000;

  --color-beige1: #f4f3f0;
  --color-beige2: #faf0e6;

  /* Font */
  --font-default-family: "Noto Serif KR";
  --font-sans: "Noto Serif KR", serif;
  --font-serif: "Noto Serif KR", serif;

  /* Font Weight */
  /* --font-weight-default: 400;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700; */

  /* Size */
  --size-18: 1.125rem;

  /* Width */
  --width-large: 1280px;
  --width-medium: 1140px;
  --width-small: 530px;

  /* Keyframes */
  @keyframes company-brand-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Animation */
  --animate-company-brand-scroll: company-brand-scroll 130s linear infinite;
  --animate-fade-in: fade-in 1.5s ease-out both;

  /* Box Shadow */
  --shadow-custom: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}

/* 커스텀 variant 정의 - breakpoint 변수 활용 */
@custom-variant pc (@media (min-width: 64.0625rem));
@custom-variant mo (@media (max-width: 64rem));

@layer base {
  * {
    font-family: var(--font-default-family), serif;
  }
  html {
    @apply text-title bg-beige1 font-normal;
    font-family: var(--font-default-family), serif;
  }
  html[lang='ko'] {
    font-family: var(--font-default-family), serif;
  }
  /* 스크롤바 생성시 웹페이지 위치 이동 방지 100vw - 스크롤바넓이 */
  @variant pc {
    body {
      width: calc(100vw - 13px);
    }
  }

  /* tailwind reset css가 완벽하지 않아서 추가해야함 */
  input {
    /* appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0; */
    @apply appearance-none rounded-none outline-none;
  }
  input:focus {
    @apply outline-none;
  }

  /* number type: spin 버튼 제거 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* appearance: none;
    -webkit-appearance: none; */
    @apply appearance-none;
  }

  em {
    @apply not-italic;
  }
  table caption {
    @apply hidden size-0 overflow-hidden text-transparent opacity-0;
  }

  a, a:hover {
    color: unset;
  }

  b,
  strong {
    @apply font-semibold;
  }

  button {
    @apply cursor-pointer;
  }

  @variant pc {
    /* body scrollbar setting */
    *::-webkit-scrollbar {
      width: 13px;
    }

    *::-webkit-scrollbar-thumb {
      background: var(--color-gray1);
      background-clip: padding-box;
      border: 5px solid transparent;
      box-shadow: 0px 0px 0px 1px rgba(255 255 255 0.1) inset;
      -webkit-box-shadow: 0px 0px 0px 1px rgba(255 255 255 0.1) inset;
      -moz-box-shadow: 0px 0px 0px 1px rgba(255 255 255 0.1) inset;
    }

    *::-webkit-scrollbar-thumb:hover {
      background: var(--color-black);
      background-clip: padding-box;
      border: 5px solid transparent;
    }

    *::-webkit-scrollbar-track {
      background: transparent;
      border-left: 1px solid var(--color-beige2);
    }

    *::-webkit-scrollbar-corner {
      display: none;
    }
  }
}

@layer utilities {
  /* 1줄처리 */
  .ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
  /* 2줄 처리 */
  .ellipsis-2 {
    @apply line-clamp-2 block text-ellipsis whitespace-normal;
    display: -webkit-box;
  }
  .text-overflow {
    @apply line-clamp-2 break-words text-ellipsis;
  }
}

/* 공통 폰트 사이즈 */
@layer utilities {
  .title1 {
    @apply pc:text-base/[22px] text-sm/[20px] font-semibold; /* 14px, 16px */
  }
  .body1 {
    @apply pc:text-base/[22px] text-sm/[20px]; /* 14px, 16px */
  }
  .body2 {
    @apply pc:text-[13px]/[18px] text-xs/[16px] font-semibold; /* 12px, 13px */
  }
  .body3 {
    @apply pc:text-xs/[16px] text-[11px]/[15px] font-semibold; /* 11px, 12px */
  }
}

